version: '3.8'

services:
  cli-proxy-api:
    image: ${CLI_PROXY_IMAGE_REPO:-eceasy/cli-proxy-api}:${CLI_PROXY_IMAGE_TAG:-latest}
    container_name: ${CONTAINER_NAME}
    restart: always
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:8317
    volumes:
      - ./config.yaml:/CLIProxyAPI/config.yaml
      - ./auths:/root/.cli-proxy-api
      - ./logs:/CLIProxyAPI/logs
    environment:
      - DEPLOY=${DEPLOY:-}
    labels:
      createdBy: "Apps"

networks:
  1panel-network:
    external: true
